@import "../../variable.css";
.title {
  /* margin-bottom: 30%; */
    color: var(--color-text);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    font-family:'Times New Roman', Times, serif;
  }

.content {
    /* background: beige; */
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    margin-top: 14px;
  }
  .skills {
    /* width: 40%; */
    /* background: pink; */
    display: flex;
    justify-content:center;
    align-items:center ;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 37px;
  }

  .skillsContents {
    display: flex;
    padding: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 37px;
  }
  
  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    
  }
  
  .skillImageContainer {
    background-color: black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
  }
  
  .skillImageContainer img {
    width: 75px;
  }
  
  .skill p {
    color: white;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 500;
  }